.buildpath
.hgignore.swp
.project
.orig
.swp
.idea/
.settings/
.vscode/
vendor/
composer.lock
gitpush.sh
pkg/
bin/
cbuild
**/.DS_Store
.test/
main
output/
manifest/output/
temp/
main.exe
main.exe~
storage/logs/
storage/upload/
manifest/config/config.yaml.env
hack/config.yaml.env